#LOCAL_SETUP - used by first_setup.sh scripts
LOCAL_DOCKER_USER=dockeruser1
LOCAL_DOCKER_GROUP=dockeruser1
LOCAL_DOCKER_VOLUME_DIR=/docker-vol1
DOMAIN=rjruss.org
BASE_HOST=hawsap-
STEP_HOST=${BASE_HOST}step
SP_SHARED_ENV_GROUP=5501
SP_SHARED_GROUP_NAME=sharedenv
SP_SHARED_DIR=/srv/shared
SP_AGEDIR=/srv/shared/.age
SP_AGEDIR_KEYS=/srv/shared/.age/.keys
SP_AGEDIR_INFO=/srv/shared/.age/.info
#SP_STEP_HOST=container name and port or swap to DNS host 
SP_APP_STEP_VERSION=0.27.2
SP_APP_STEP_PORT=9005
SP_STEP_HOST=https://sap-step-run:${SP_APP_STEP_PORT}
#
SP_RCOUNT=2
SP_RDAY=Sunday
SP_RTIME="07:30:00"
SP_RSLEEP=10m
SP_RENEW_VALID=8
SP_ROOTC=GB
SP_ROOTCA_VALID=1825
SP_EMAIL=rob.roosky@yahoo.com
SP_ROOTCN="Robert Russell's ROOT CA"
#
SP_ABAP_HTTPS_PORT=50001
SP_ABAP_HOST_FQDN=a4h
SP_ABAP_MSHOST_FQDN=a4h
SP_ABAP_HTTP_PORT=
#SP_ABAP_MS_PORT=8101
SP_ABAP_MS_PORT=44601
SP_ABAP_SID=A4H
SP_ABAP_SETUP=YES
CSR_LOCATE="/srv/usr/sap/webdisp/csr/webd.csr"
SIGNED_CERT="/srv/.self/webdisp.crt"
LD_LIBRARY_PATH="/srv/usr/sap/webdisp"
PATH="${PATH}:/srv/usr/sap/webdisp:/srv/usr/sap/webdisp/startup:/srv/usr/sap/webdisp/age"
WDINST=/srv/usr/sap/webdisp
#
USER_UID=1245
USER_GID=1245
SP_ALLOWED_SUBNET=172.19.0.0/16,10.10.50.216/24
#
#SP_WEBSTEP_CERT_DUR need to be in hours{h} format e.g 48h 
SP_WEBSTEP_CERT_DUR=192h
WEBSTEP_HOST=${BASE_HOST}webstep
WEBSTEP_ZABAP_SRCSRV=4300
WEBSTEP_HOST_PORT=4301
WEBSTEP_ZWEBADM_PORT=4302
SP_APP_WEBSTEP_VERSION=1
#
WEBLETS_HOST=${BASE_HOST}weblets
WEBLETS_ZABAP_SRCSRV=5400
WEBLETS_HOST_PORT=5401
WEBLETS_ZWEBADM_PORT=5402
SP_APP_WEBLETS_VERSION=1
#
WEBPRIV_HOST=${BASE_HOST}webpriv
WEBPRIV_ZABAP_SRCSRV=6500
WEBPRIV_HOST_PORT=6501
WEBPRIV_ZWEBADM_PORT=6502
SP_APP_WEBPRIV_VERSION=1
#
WEBSTEPACME_HOST=${BASE_HOST}webstepacme
WEBSTEPACME_ZABAP_SRCSRV=7500
WEBSTEPACME_HOST_PORT=7501
WEBSTEPACME_ZWEBADM_PORT=7502
SP_WEBSTEPACME_CERT_DUR=192h
SP_APP_WEBSTEPACME_VERSION=1
#
SP_TARGET_HOST=github.com
SP_TARGET_PORT=443
